
<div id="left-chat" class="message-container" data-author="<%= message.user == current_user %>" id="message-<%= message.id %>">
  <i class="author">
      <span><%= message.user.nickname %></span>
      <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
    </i>
    <p><%= message.content %></p>
</div>
