<%= render 'shared/new_incident_banner', text: "Sign up" %>
<div class="container mt-4 product-form">
  <div class="sign-up">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :nickname,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "nickname" }%>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>
      <div class="form-actions">
        <button class="button-sign-up box-shadow w-100">
          <%= f.button :submit, "Sign up" %>
        </button>
        <div id="log-in">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    <% end %>
  </div>
</div>