<%= simple_form_for incident do |f| %>
  <%= f.input :title %>
  <%= f.input :attachment, as: :file, label: "Upload an attachment" %>
  <%= f.input :date, as: :date, html5: true %>
  <div class="my-3">
    <%= label_tag "Upload an antagonizer's photo" %>
    <div class="photo-form-box">
      <%= file_field_tag :photos %>
    </div>
  </div>
  <%= f.input :place %>
  <%= f.input :description, label: "What happened", placeholder: "Yesterday I was at work..." %>
  <%= f.input :tag_list, as: :hidden %>
  <%= f.submit "Create", class: 'button-small box-shadow w-100 mt-3', id: 'show-bottom' %>
<% end %>


