<%= render 'shared/show_banner', text: @incident.title %>
<div class="container mt-2 my-2 incident_show">
  <div class="mt-3" style="align-self: center">
    <p>Date</p>
    <%= @incident.date.to_date %>
    <br>
    <p>Location</p>
    <%= @incident.place %>
    <br>
    <p>Antagonizer</p>
    <%= @incident.antagonizer %>
    <br>
    <p>Description</p>
    <%= @incident.description %>
    <br>
    <% if @incident.attachment.attached?%>
      <%= cl_image_tag @incident.attachment.key, style: "height: 100%; width: 100%; object-fit: contain; margin-top: 16px;" %>
    <% end %>
    <%= link_to "Create a report", report_path(format: :pdf), class: "button-white w-100 mt-4" %>


    <%#= link_to "Share", index_path, class: "button-small w-100 mt-4", id: "show-bottom", type: "button",  %>
    <button type="button" class="button-small box-shadow w-100 mt-4", id="show-bottom" data-toggle="modal" data-target="#exampleModal">
      Share
    </button>

    <%= render 'share_modal', user: @user %>

  </div>
</div>
