<div class="chatrooms">
  <% chatrooms.each do |chatroom| %>
  <% if chatroom.accepted? %>
    <%= link_to chatroom_path(chatroom), class: "incident-card-size" do %>

      <div class="incident-card mx-3 mt-4 d-flex justify-content-between">

           <% if chatroom.notifications_as_chatroom.count >= 1 %>
            <span class="notification" data-counter-target="count" data-controller="counter"><%= chatroom.notifications_as_chatroom.count %></span>
           <% end %>

             <img src="
             <% if chatroom.sender == current_user %>
                <%= chatroom.recipient.avatar %>
              <% else %>
               <%= chatroom.sender.avatar %>
               <% end %>
             " class= "incident-thumbnail">


          <div class="incident-title-date mx-3 d-flex flex-column flex-grow-1 justify-content-around">
            <h3 class="title pt-2 pb-1">
              <% if chatroom.sender == current_user %>
                <%= chatroom.recipient.nickname %>
              <% else %>
               <%= chatroom.sender.nickname %>
               <% end %>
              </h3>
            <div class="date d-flex pb-2">
              <p> <%= chatroom.messages.last&.created_at&.strftime('%R') %> </p>
            </div>




         </div>


      </div>


    <% end %>
    <% end %>

  <% end %>

</div>
