<%= render 'shared/index_banner', text: "Chat", class: "d-flex justify-content-center" %>

<div class="container">
  <div class="title">
    <%# <%= link_to url_for(:back), id: "back" do %>
      <%# <i class="fas fa-arrow-alt-circle-left"></i> %>
    <%# end %>
    <h1 class="chat-title"><%= @chatroom.name %></h1>
  </div>
  <div class="chat-container mb-3">
    <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
      <div class="border border-secondary">Your chat request has been approved. You can send your messages now.</div>
      <% @chatroom.messages.each do |message| %>
        <div class="chat-bubble">
          <% if message.user == current_user %>
            <div id="right-chat" class="message-container" data-author="<%= message.user == current_user %>" id="message-<%= message.id %>">
                <i class="author">
                  <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
                </i>
                <p><%= message.content %></p>
            </div>
            <% else %>
            <div id="left-chat" class="message-container" data-author="<%= message.user == current_user %>" id="message-<%= message.id %>">
                <i class="author">
                  <span><%= message.user.nickname %></span>
                  <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
                </i>
                <p><%= message.content %></p>
            </div>
            <% end %>
      </div>
      <% end %>
    </div>
  </div>
  <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
    <%= f.input :content, label: false, class: "message-content" %>
    <%= button_tag(type: 'submit', class: "chat-button") do %>
      <i class="far fa-paper-plane"></i>
    <% end %>
  <% end %>
</div>
