<%= render 'shared/new_banner', text: "Chat", class: "d-flex justify-content-center" %>

<div class="container">
  <div class="chat-container mb-3">
    <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
      <% if @chatroom.messages.empty? %>
        <div class="approve-request">
          <p id="approve-msg">
            Your chat request has been approved and messages can be sent now
          </p>
        </div>
      <% end %>
      <% @chatroom.messages.each do |message| %>
        <div class="chat-bubble">
          <% if message.user == current_user %>
            <div class="d-flex">
              <div id="right-chat" class="message-container" data-author="<%= message.user == current_user %>" id="message-<%= message.id %>">
                <p><%= message.content %></p>
                <i class="author">
                </i>
              </div>
              <img src="<%= message.user.avatar %>" class="chat-avatar" id="chat-avatar-right">
            </div>
          <% else %>
            <div class="d-flex">
              <img src="<%= message.user.avatar %>" class="chat-avatar" id="chat-avatar-left">
              <div id="left-chat" class="message-container" data-author="<%= message.user == current_user %>" id="message-<%= message.id %>">
                <i class="author">
                </i>
                <p><%= message.content %></p>
              </div>
            </div>
            
          <% end %>
      </div>
      <% end %>
    </div>
  </div>
  <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
    <%= f.input :content, label: false, class: "message-content" %>
    <%= button_tag(type: 'submit', class: "chat-button") do %>
      <i class="far fa-paper-plane"></i>
    <% end %>
  <% end %>
</div>
