<% if notice %>
  <div class="alert alert-colors alert-dismissible fade show m-1" role="alert">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
    <%= alert %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<% if match_alert %>
  <div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
    <a href="#" data-toggle="modal" data-target="#matchModal"> <%= match_alert %></a>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal fade matchModal" id="matchModal" tabindex="-1" role="dialog" aria-labelledby="matchModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="matchModalLabel">Your antagonizer's face has been found in our database</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Another user has reported your antagonizer before. Would you like to connect for a private chat?
        We will notify you once they approve your request.

      <div class="d-flex mt-2 justify-content-center">
          <%= simple_form_for @chatroom do |f| %>
            <%= f.input :status, as: :hidden, input_html: { value: :pending} %>
            <%= f.submit 'Yes, please connect me', class: 'btn btn-primary m-3 data-dismiss' %>
          <% end %>

      </div>
      <!-- <div class="btn btn-primary m-2" data-dismiss="modal">Connect</div>

      </div> -->
<!--       <div class="modal-footer">
        <button type="button" class="button-small-white box-shadow" data-dismiss="modal">Close</button>
        <button type="button" class="button-small box-shadow">Share now</button>
      </div> -->
    </div>
  </div>
</div>
</div>
<% end %>



