<div class="incidents p-3">
  <% incidents.each do |incident| %>
    <%= link_to incident_path(incident), class: "incident-card-size mb-4" do %>
      <div class="tick-box" data-multiselect-target="tickbox" data-action="click->multiselect#select"></div>
      <div class="incident-card d-flex" data-multiselect-target="card">

          <div>
            <% if incident.attachment.attached? %>
              <div class= "incident-thumbnail" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url( <%= cl_image_path incident.attachment.key, crop: :scale, width: 80 %> )">
                <i class="far fa-images"></i>
              </div>
            <% else %>
              <div class="empty-thumbnail">
                <i class="far fa-images"></i>
              </div>
            <% end %>
          </div>

          <div class="incident-title-date mx-3 d-flex flex-column justify-content-around">
            <h3 class="title pt-2 pb-1"> <%= incident.title %> </h3>
            <div class="date d-flex pb-2">
              <%= image_tag "calendar_today.svg", alt: "calendar icon", width: "18px", class: "mr-1" %>
              <p> <%= incident.date.strftime('%a. %B %d, %Y') %> </p>
            </div>
          </div>

  <!--         <p class=""> 1 attach. </p> -->

      </div>
    <% end %>
  <% end %>

    <%= link_to new_incident_path do %>
      <i class="fas fa-plus button-add"></i>
    <% end %>


<!--     <button type="button" class="button-small box-shadow w-100 mt-2" id="show-bottom" data-toggle="modal" data-target="#exampleModal">
      Share
    </button> -->

    <%= link_to new_incident_path, "data-multiselect-target": "share", "data-action": "click->multiselect#share", "type": "button" do %>
      <i class="fas fa-share-alt button-share" data-multiselect-target="sharebutton"></i>
    <% end %>

    <%= render 'share_modal_incidents', user: @new_user, id: 2, class: "button-small box-shadow w-100 mt-4", id: 'show-bottom' %>

</div>
